{
  "presets": [
    ["es2015", { "modules": false }],
  ],
  "plugins": [["component", [
    {
      "libraryName": "..",
      "style":true,
    },
    {
      "libraryName": "element-ui",
      "styleLibraryName": "theme-default"
    }
  ]]]
}
